.base {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 121px;
	height: 49px;
	border-radius: 10px;
	font-weight: 500;
	font-size: 12px;
	transition: var(--transition);
	border: 1px solid;
	cursor: pointer;
}

.base:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.base span {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 12px;
}

.failed {
	background-color: var(--color-status-red);
	color: var(--color-deep-red);
	border-color: var(--color-status-red);
}

.failed span {
	background-color: var(--color-deep-red);
}

.success {
	background-color: var(--color-voting-green);
	color: var(--color-status-green);
	border-color: var(--color-voting-green);
}

.success span {
	background-color: var(--color-status-green);
}

.normal {
	color: var(--color-status-green);
	border-color: var(--color-voting-green);
	background-color: var(--color-white);
}

.normal span {
	background-color: var(--color-status-green);
}

.queued {
	color: var(--color-principal-royal-blue);
	border-color: var(--color-principal-royal-blue);
	background-color: var(--color-white);
}

.queued span {
	background-color: var(--color-principal-royal-blue);
}
